{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}


{% block wrapper %}
<p>
	Bienvenido {{ user.persona.nombre|upper }} {{ user.persona.apellido|upper}}
</p>
{% endblock wrapper %}

{% block unacolumna %}
<div id="column1">
		<img src="{{ STATIC_URL }}images/Admin.png" width="300" height="200" alt="" />
</div>	
{% endblock unacolumna %}

{% block doscolumna %}
<div id="column2">
	<p>
		Nombre :  {{ user.persona.nombre }}
	</p>
	<p>
		Apellido :  {{ user.persona.apellido }}
	</p>
	<p>
		Perfil :  Psicologo
	</p>
	<p>
		Usuario :  {{ user.persona.usuario }} 
	</p>
	<p>
		{{ usu_enc }} Usuarios han usado VocacionalSoft.
	</p>
</div>
{% endblock doscolumna %}

{% block trescolumna %}
<div id="column3">
	<center>
		<h1><p>
			Administracion VocacionalSoft
		</p></h1>
		<p><a  href="/admin/encuestas"><img src="{{ STATIC_URL }}images/Ingreso_Admin.png" width="125" height="125" alt="" />
		</a></p>
	</center>
</div>
{% endblock trescolumna %}

{% block contenidouno %}
{% endblock contenidouno %}

{% block contenidodos %}

{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
	<div id="menu-wrapper">
		<ul id="menu">
			<li>
				<a href="/contacto"><span>Contactenos</span></a>
			</li>
			<li>
				<a href="/admin/auth/user/"><span>Gestion Usuarios</span></a>
			</li>
			<li>
				<a href="/admin/encuestas/prueba/"><span>Gestion Pruebas</span></a>
			</li>
			<li>
				<a href="/ver_resultados/"><span>Ver Resultados</span></a>
			</li>	
			<li>
				<a href="/logoutuser"><span>Cerrar Sesion</span></a>
			</li>
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();

		</script>
	</div>
{% endblock menu%} 