{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}
{% endblock wrapper %}

{% block unacolumna %}

{% endblock unacolumna %}

{% block doscolumna %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
	<div id="page">
		
		<div class="post">
			<p><label >USUARIO: </label><input type="text" value="" id="usuario"/></p>
			<p><label>CONTRASEÑA: </label><input type="text" value="" id="contrasena"/></p> 
			<p><button href = "google.com"> ACEPTAR </button></p>	
	<div class="entry">
				<p>Pruebas Vocacionales</p>
				<p>Escuela Tecnologica Instituto Tecnico Central</p>
			</div>
		</div>
{% endblock contenidouno %}

{% block contenidodos %}
			
{% endblock contenidodos %}

{% block titulo %}
<title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %}
	<h1><a href="#">VocacionalSoft</a></h1>
{% endblock titulopag %}	

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}