{% extends "base.html" %}

{% block splash_adentro %}

{% endblock splash_adentro %}

{% block wrapper %}
<p>
	Contactenos
</p>
{% endblock wrapper %}

{% block unacolumna %}
<div id="column1">
	<img src="{{ STATIC_URL }}images/Contactenos.png" width="250" height="300" alt=""/>
</div>
{% endblock unacolumna %}

{% block doscolumna %}
<form id= 'formulario' method = 'post' action= ''>{% csrf_token %}
	{{formulario}}
	<p>
		<input type = 'submit' value = 'Enviar' />
	</p>
</form>
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
{% endblock contenidouno %}

{% block contenidodos %}

{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}