{% extends "base.html" %}

{% block splash_adentro %}

{% endblock splash_adentro %}

{% block wrapper %}
<p>
	Contactenos
</p>
{% endblock wrapper %}

{% block unacolumna %}
<div id="column1">
	<img src="{{ STATIC_URL }}images/Contactenos.png" width="250" height="300" alt=""/>
</div>
{% endblock unacolumna %}

{% block doscolumna %}
{% if formulario %}
<form id= 'formulario' method = 'post' action= ''>
	{% csrf_token %}
	<table>
		{{ formulario }}
	</table>
	<center>
	<input type = 'submit' value = 'Enviar' /></center>
</form>
{% else %}
<p>
	{{ mensaje }}
</p>
{% endif %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
{% endblock contenidouno %}

{% block contenidodos %}

{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
	<div id="menu-wrapper">
		<ul id="menu">
			<li>
				<a href="/DevContacto"><span>Inicio</span></a>
			</li>
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();

		</script>
	</div>
{% endblock menu%}