{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}
<p>
	Bienvenido
</p>
{% endblock wrapper %}

{% block unacolumna %}
<div id="column1">
	<center>
		<h3>
		<p>
			{{ user.persona.nombre|upper }} {{ user.persona.apellido|upper}}
		</p></h3>
		<img src="{{ STATIC_URL }}images/encuestas.png" width="250" height="200" alt="" />
	</center>
</div>
{% endblock unacolumna %}

{% block doscolumna %}
<center>
	<h3>
	<p>
		ELIJA LA PRUEBA A CONTESTAR
	</p></h3>
	{% for prueba in pruebas %}
	<p>
		<a href= "/contestar_prueba/{{ prueba.id }}/">{{ prueba.nombre }}</a>
	</p>
	{% endfor %}
	</p>
</center>
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
{% endblock contenidouno %}

{% block contenidodos %}
{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
<div id="menu-wrapper">
	<ul id="menu">
		<li>
			<a href="/DevContacto"><span>Inicio</span></a>
		</li>
		<li>
			<a href="/contacto"><span>Contactenos</span></a>
		</li>
		<li>
			<a href="/logoutuser"><span>Cerrar Sesion</span></a>
		</li>
	</ul>
	<script type="text/javascript">
		$('#menu').dropotron();

	</script>
</div>
{% endblock menu%}