{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}
{% endblock wrapper %}

{% block unacolumna %}

{% endblock unacolumna %}

{% block doscolumna %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
<div id="page">
	<div class="post">
		<table >
			<tr>
				<td rowspan="3" style="width: 410px"><img src="{{ STATIC_URL }}images/itc1.png" width="300" height="200" /></td>
			</tr>
			<tr>
				<td style="width: 120px" align="center">
				<p>
					<form id='formulario' method='post' action=''>
						{% csrf_token %}
						<table>
							{{formulario}}
						</table>
						<p>
							<input type='submit' value='Ingresar'/>
						</p>
					</form>
				</p></td>
			</tr>
		</table>
	</div>
	<div class="entry">
		<p>
			La Escuela Tecnologica Instituto Tecnico Central apostandole al avance tecnologico desde el programa de tecnologia en sistemas ha desarrollado este software que permite identificar las capacidaddes de los estudiantes y orientarlos en su mejor eleccion en la carrera tecnica que llevaran a cabo.
		</p>
	</div>
</div>
<p>
</div>
</div>
</div>
{% endblock contenidouno %}

{% block contenidodos %}

{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1><a href="#">VocacionalSoft</a></h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}