{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}  <h1>{{modulo.nombre|title}}</h1>
{% endblock wrapper %}

{% block unacolumna %}

{% endblock unacolumna %}

{% block doscolumna %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}

<h2> {{ modulo.nombre }}</h2>
<p> {{ modelo.descripcion}} </p>

{% endblock contenidouno %}

{% block contenidodos %}
{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>{{modulo.nombre|title}}</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}