{% extends "base.html" %}

{% block splash_adentro %}

{% endblock splash_adentro %}

{% block wrapper %}
<p>
	{{ modulo.nombre }}
</p>
{% endblock wrapper %}

{% block unacolumna %}
<center>
	<div id="Col1">
		<p><img src="{{ STATIC_URL }}images/Eleccion.png" width="300" height="200"/>
		</p>
	</div>
</center>
{% endblock unacolumna %}

{% block doscolumna %}
<div id="Col2">
	<div class="post">
		<center>
			<h2 class="title">SECCIONES DISPONIBLES EN {{ modulo.nombre }} </h2>
			{% for seccion in modulo.seccion_set.all %}
			<center>
				<p>
					<h3><a href= "/contestar_seccion/{{ seccion.id }}/">{{ seccion.nombre }}</a></h3>
				</p>
			</center>
			{% endfor %}
			</p>
	</div>
</div>
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}

{% endblock contenidouno %}

{% block contenidodos %}
{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
<div id="menu-wrapper">
	<ul id="menu">
		<li>
			<p>
				<a href= "/contestar_prueba/{{ modulo.prueba.id}}/">
			</p><span>Inicio</span></a>
		</li>
		<li>
			<a href="/contacto"><span>Contactenos</span></a>
		</li>
		<li>
			<a href="/logoutuser"><span>Cerrar Sesion</span></a>
		</li>
	</ul>
	<script type="text/javascript">
		$('#menu').dropotron();

	</script>
</div>
{% endblock menu%}