{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}
<p>Registra un nuevo usuario</p>
{% endblock wrapper %}

{% block unacolumna %}

{% endblock unacolumna %}

{% block doscolumna %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
<p>Contactarse con el administrador, para resolver el problema.</p>
{% endblock contenidouno %}

{% block contenidodos %}

{% endblock contenidodos %}

{% block titulo %}
<title>Usuario Desactivado</title>
{% endblock titulo %}

{% block titulopag %}
	<h1><a href="#">El usuario no esta activo</a></h1>
{% endblock titulopag %}	

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}