{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}
<p>Error de acceso</p>
{% endblock wrapper %}

{% block unacolumna %}

{% endblock unacolumna %}

{% block doscolumna %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
<p>El usuario y la contraseña no coinciden o no existen.</p>
{% endblock contenidouno %}

{% block contenidodos %}

{% endblock contenidodos %}

{% block titulo %}
<title>Error de acceso</title>
{% endblock titulo %}

{% block titulopag %}
	<h1><a href="#">Error de acceso</a></h1>
{% endblock titulopag %}	

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}