{% extends "base.html" %}

{% block splash_adentro %}
<div id="seg">
	<center><img src="{{ STATIC_URL }}images/Nuevo Usuario.png" width="350" height="250" /></center>
</div>

{% endblock splash_adentro %}

{% block wrapper %}
<p>Nuevo Usuario</p>
{% endblock wrapper %}

{% block unacolumna %}
<center><div id="prim">
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
		<center><p><input type='submit' value='Registrar'/></p></center>
	</form>
</div></center>
{% endblock unacolumna %}

{% block doscolumna %}

{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
{% endblock contenidouno %}

{% block contenidodos %}
{% endblock contenidodos %}

{% block titulo %}
<title>Nuevo Usuario</title>
{% endblock titulo %}

{% block titulopag %}
	<h1>VocacionalSoft</h1>
{% endblock titulopag %}	

{% block marca%}
{% endblock marca%}

{% block menu%}
{% endblock menu%}