{% extends "base.html" %}

{% block splash_adentro %}

{% endblock splash_adentro %}

{% block wrapper %}
<p>
	{{ user.nombre }}
</p>
{% endblock wrapper %}

{% block unacolumna %}
{% endblock unacolumna %}

{% block doscolumna %}

{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
<div id="page">
	<div class="post">
		<center>
			<h2 class="title">{{ pregunta.seccion.nombre }}</h2>
		</center>
		<br />
		<p></p>
	</div>
</div>
{% endblock contenidouno %}

{% block contenidodos %}
<div>
	<center>
		<h1>
		<p>
			{{ pregunta.orden}}.  {{ pregunta.descripcion_text|safe }}
		</p></h1>
	</center>
</div>
<div>
	
	<center>
		<form method = 'post'>{% csrf_token %}
			<table>
			{{ pform.as_table }}
			</table>
			<input type = 'submit' value = 'Enviar' />
		</form>
	</center>
	
</div>
{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
<div id="menu-wrapper">
	<ul id="menu">
		<li>
			<p>
				<a href= "/contestar_prueba/{{ pregunta.seccion.modulo.prueba.id}}/">
			</p><span>Inicio</span></a>
		</li>
		<li>
			<p>
				<a href= "/contestar_seccion/{{ pregunta.seccion.id}}/">
			</p><span>Atras</span></a>
		</li>

		<li>
			<a href="/contacto"><span>Contactenos</span></a>
		</li>
		<li>
			<a href="/logoutuser"><span>Cerrar Sesion</span></a>
		</li>
	</ul>
	<script type="text/javascript">
		$('#menu').dropotron();

	</script>
</div>
{% endblock menu%} 