{% extends "base.html" %}

{% block splash_adentro %}
{% endblock splash_adentro %}

{% block wrapper %}
<p>
	{{ prueba.nombre }}
</p>
{% endblock wrapper %}

{% block unacolumna %}
<div id="column1">
<center>
	<h3>
	<p>
		{{ user.persona.nombre|upper }} {{ user.persona.apellido|upper}}
	</p></h3>
	<p>
		PARA COMPLETAR EL TEST {{ modulo.prueba }} USTED DEBE COMPLETAR LOS SIGUIENTES MODULOS, ELIJA UN MODULO. 
	
	</p>
</center>
</div>
{% endblock unacolumna %}

{% block doscolumna %}
<center>
<h3>
	MODULOS EN</h3>	<p>{{ prueba.nombre }}</p> 

{% for modulo in modulos %}

<p>
	<center><h3><a href= "/contestar_modulo/{{ modulo.id }}/">{{ modulo.nombre }}</a></h3></center>
</p>
</center>
{% endfor %}
{% endblock doscolumna %}

{% block trescolumna %}
{% endblock trescolumna %}

{% block contenidouno %}
{% endblock contenidouno %}

{% block contenidodos %}
{% endblock contenidodos %}

{% block titulo %} <title>VocacionalSoft</title>
{% endblock titulo %}

{% block titulopag %} <h1>VocacionalSoft</h1>
{% endblock titulopag %}

{% block marca%}
{% endblock marca%}

{% block menu%}
<div id="menu-wrapper">
	<ul id="menu">
		<li>
			<a href="/DevContacto"><span>Inicio</span></a>
		</li>
		<li>
			<a href="/contacto"><span>Contactenos</span></a>
		</li>
		<li>
			<a href="/logoutuser"><span>Cerrar Sesion</span></a>
		</li>
	</ul>
	<script type="text/javascript">
		$('#menu').dropotron();

	</script>
</div>
{% endblock menu%}